.content-placeholder {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    min-height: calc(99vh - 150px);
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60;
    margin-top: auto;
    z-index: 99999;
}