<button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':'block'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete <b>{{cust.firstName}} {{cust.lastName}}</b> ?</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <b> {{cust.firstName}} {{cust.lastName}}</b> record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Sure, delete it</button>
            </div>
        </div>
    </div>
</div>